body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: beige;
    height: 100vh;
    width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-around;
}

.comments {
  display: flex;
}

.comments li {
  font-style: italic;
}

.comments img {
  height: 500px;
}

h1 {
  text-align: center;
}